.container{
    display: flex;
    border: solid 1px;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    border-color: rgb(0, 88, 88);
    height: 120px;
    cursor: pointer;
}

.img{
    height: 100px;
    width: 100px;
}

.data{
    display: flex;
    flex-direction: column;

}