header{
background-color: rgb(0, 182, 182);
color: aliceblue;
padding: 32px;
}


footer{
background-color: black;
color: aliceblue;
padding: 16px;
}

nav{
    display: flex;
    gap:  8px;

}

a{
    font-size: large;
    color: white;
    text-decoration: none;
}